{% include "header.html" %}
<body>
<div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);height:95%">
{% include "navbar.html" %}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<div class="ct-pageWrapper" id="ct-js-wrapper">
                <section class="company-heading intro-type" id="parallax-one">
                    <div class="container">
                        <div class="row product-title-info">
                            <div class="col-md-12">
                                <h1>
                                    About Us
                                </h1>
                            </div>
                        </div>
                    </div>
                        &nbsp;
                </section>

   </div>
</main>
</div>
{% include "footer.html" %}
</body>
</html>