<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ url_for('hello_world') }}">Home</a>
            <a class="navbar-brand" href="{{ url_for('add_inventories') }}">Inventories</a>
            <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
            </nav>
<h4>Inventories/ Sales</h4>
<h4>for more info contact @liz</h4>
</body>
</html>