{% include "header.html" %}
<body>
{% include "navbar.html" %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add Inventory
            </button><br><br>
<div class="container">
        <div class="col-4">

    <div class="row">


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inventory</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form action="/add_inventory" method="POST">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Name</label>
                                    <input name="name" type="string" class="form-control" id="exampleFormControlInput1"
                                           placeholder="type name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">type</label>
                                    <select name="type" class="form-control" id="exampleFormControlSelect1">
                                        <option></option>
                                        <option>Product</option>
                                        <option>Service</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">bp</label>
                                    <input name="buying_price" type="float" class="form-control"
                                           id="exampleFormControlInput1"
                                           placeholder="Enter Value">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">sp</label>
                                    <input name="selling_price" type="float" class="form-control"
                                           id="exampleFormControlInput1"
                                           placeholder="Enter Value">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Stock</label>
                                    <input name="stock" type="integer" class="form-control"
                                           id="exampleFormControlInput1" placeholder="Enter Value">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>
            </div>


            </button>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table" id="mytable">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Buying Price</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Sell</th>
                    <th scope="col">View Sale</th>
                    <th scope="col">Edit</th>
                     <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for each in records %}
                    <tr>
                        <th scope="row">{{ each.id }}</th>
                        <td>{{ each.name }}</td>
                        <td>{{ each.type }}</td>
                        <td>{{ each.buying_price }}</td>
                        <td>{{ each.selling_price }}</td>
                        <td>{{ each.stock }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#saleModal{{ each.id }}">Sell
                            </button>
                            <div class="modal fade" id="saleModal{{ each.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Sell</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ url_for('make_sale' ,id1 = each.id) }}" method="POST">
                                                <input type="hidden" name="inv_id" value="{{ each.id }}"/>
                                                <div class="form-group">
                                                    <label for="exampleFormControlInput1">Quantity</label>
                                                    <input name="quantity" type="string" class="form-control"
                                                           id="exampleFormControlInput1"
                                                           placeholder="Quantity">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Sell</button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewSModel{{ each.id }}">View Sales</button>
<div class="modal1 fade" id="viewSModel{{ each.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-content" id="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
<table class="myTable" id="myTable">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Date Of Sale</th>
  </tr>
        {% for i in each.sales %}
  <tr>
    <td>{{ each.name }}</td>
    <td>{{ i.quantity }}</td>
    <td>{{ i.created_at }}</td>
  </tr>{% endfor %}
</table>
 </div>
</div></td>
<td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editIModal{{ each.id }}">Edit</button>
   <div class="modal fade" id="editIModal{{ each.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inventory</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form action="/update_sale/{{ each.id }}" method="POST">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Name</label>
                                    <input name="name" type="string" class="form-control" id="exampleFormControlInput1" value="{{ each.name }}"
                                           placeholder="type name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">type</label>
                                    <select name="type" class="form-control" id="exampleFormControlSelect1">
                                        <option selected>{{ each.type }}</option>
                                        <option>Product</option>
                                        <option>Service</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">bp</label>
                                    <input name="buying_price" type="float" class="form-control" value="{{ each.buying_price }}"
                                           id="exampleFormControlInput1"
                                           placeholder="Enter Value">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">sp</label>
                                    <input name="selling_price" type="float" class="form-control" value="{{ each.selling_price }}"
                                           id="exampleFormControlInput1"
                                           placeholder="Enter Value">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Stock</label>
                                    <input name="stock" type="integer" class="form-control" value="{{ each.stock }}"
                                           id="exampleFormControlInput1" placeholder="Enter Value">
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>
            </div>
                        </td>
                    <td>
                        <a href="{{url_for('delete_item', id=each.id) }}"><button class="btn btn-primary" >Delete</button></a>
                    </td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>


        </div>
    </div>
</div>


</div>

{% include "footer.html" %}

</body>
</html>