<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ url_for('hello_world') }}">Home</a>
            <a class="navbar-brand" href="{{ url_for('add_inventories') }}">Inventories</a>
            <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
            </nav>
    <div class="row" style="margin-left:20px;padding-top: 40px">
<div class="m4 w-25" style="margin-left:20px; padding-left: 20px" >
      <form method="post" action="/predictor">
          <label>Select Year</label>
        <select name="selected_year" class="form-control">
            <option  value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
          <br>
        <input type="submit" />
    </form>
</div>
<div class="container w-50">
			<embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
</div></div>

</body>
</html>