<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
</style>
</head>
<body>

{{ record.name }}

<div class="container center_div">
                            <form action="/update_sale/{{ record.id }}" method="POST">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1" class="col-sm-2">Name</label>
                                      <div class="col-5">
                                    <input name="name" type="string" class="form-control form-control-lg"  id="exampleFormControlInput1"
                                           placeholder="type name" value="{{ record.name }}">
                                      </div></div>
                                <div class="col-5">
                                    <label for="exampleFormControlSelect1" >Type</label>
                                    <select name="type" class="form-control" id="exampleFormControlSelect1" class="form-control-lg" >
                                        <option selected>{{ record.type }}</option>
                                        <option>Product</option>
                                        <option>Service</option>

                                    </select>
                                </div>

                                <div class="col-5">
                                    <label for="exampleFormControlInput1">Buying Price</label>
                                    <input name="buying_price" type="float" class="form-control form-control-lg" id="exampleFormControlInput1"
                                         value="{{ record.buying_price }}"  placeholder="Enter Value">
                                </div>

                                <div class="col-5">
                                    <label for="exampleFormControlInput1">Selling Price</label>
                                    <input name="selling_price" type="float" class="form-control form-control-lg" id="exampleFormControlInput1"
                                           placeholder="Enter Value" value="{{ record.selling_price }}">
                                </div>

                                <div class="col-5">
                                    <label for="exampleFormControlInput1">Stock</label>
                                    <input name="stock" type="integer" class="form-control form-control-lg"
                                           id="exampleFormControlInput1" placeholder="Enter Value" value="{{ record.stock }}">
                                </div>
                                <br><br>

                                <div class="col-5">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>

                            </form></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>